[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
clang-format = "*"
yapf = "*"
semver = "*"
build = "*"
pathlib = "*"
typing = "*"
argparse = "*"

[dev-packages]
