#pragma once

namespace sakurajin{
    namespace unit_system{
        namespace constants{
            {% for constant in constants %}
            const long double {{ constant.name }} = {{ constant.value }};
            {% endfor %}
        }
    }
}
