#pragma once

#ifndef {{ extra_data.export_macro }}
    #define {{ extra_data.export_macro }}
#endif

namespace sakurajin{
    namespace unit_system{
        namespace constants{
            {% for constant in constants %}
            const long double {{ constant.name }} = {{ constant.value }};
            {% endfor %}
        }
    }
}
